Makefile
Makefile.in
*.o
*.a
/config.*
/src/tincd
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
INSTALL
.deps
stamp-h1
/src/device.c






doc/texinfo.tex
doc/tinc-gui.8
doc/tinc.8
doc/tinc.conf.5
doc/tinc.info
doc/tincd.8
doc/tincinclude.texi
.dirstamp
src/sptps_keypair
src/sptps_speed
src/sptps_test
src/tinc
src/version_git.h
test-driver
*.pro.user
*.pro
*.pri


